* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar container */
.navbar {
  background-color: #1a202c !important; /* Dark theme */
}


.navbar .nav-links a:hover {
  color: #00bcd4;
}

*{
    padding: 0;
    margin: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px; 
  background-color: #1a202c;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

  
  /* Navbar links */
  .navbar .nav-links {
    display: flex;
    gap: 16px;
    margin: 0 auto; /* Centers the links horizontally */
    justify-content: center; /* Ensures the links are centered */
    flex-grow: 1;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-links a:hover {
    color: #00bcd4;
  }
  .navbar.navbar-checked {
    background-color: #d3d3d6; 
}

    .navbar.navbar-unchecked {
        background-color: #393E46;
    }
.navbar.navbar-checked .nav-links a {
    color: #1a202c;
}

.navbar.navbar-unchecked .nav-links a {
    color: white;
}

.navbar.navbar-checked .nav-links a:hover {
    color: #007acc; /* different hover color for light background */
}

.navbar.navbar-unchecked .nav-links a:hover {
    color: #00bcd4;
}

    .toggle-container {
        --active-color: #393E46;
        --inactive-color: #d3d3d6;
        position: fixed;      
        top: 8px;            
        right: 16px;          
        aspect-ratio: 292 / 142;
        height: 1.875em;
        z-index: 1000;        
      }
      
  
  .toggle-input {
    appearance: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .toggle {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  
  .toggle-background {
    fill: var(--inactive-color);
    transition: fill .4s;
  }
  
  .toggle-input:checked + .toggle .toggle-background {
    fill: var(--active-color);
  }
  
  .toggle-circle-center {
    transform-origin: center;
    transition: transform .6s;
  }
  
  .toggle-input:checked + .toggle .toggle-circle-center {
    transform: translateX(150px);
  }
  
  .toggle-circle {
    transform-origin: center;
    transition: transform .45s;
    backface-visibility: hidden;
  }
  
  .toggle-circle.left {
    transform: scale(1);
  }
  
  .toggle-input:checked + .toggle .toggle-circle.left {
    transform: scale(0);
  }
  
  .toggle-circle.right {
    transform: scale(0);
  }
  
  .toggle-input:checked + .toggle .toggle-circle.right {
    transform: scale(1);
  }
  
  .toggle-icon {
    transition: fill .4s;
  }
  
  .toggle-icon.on {
    fill: var(--inactive-color);
  }
  
  .toggle-input:checked + .toggle .toggle-icon.on {
    fill: #fff;
  }
  
  .toggle-icon.off {
    fill: #eaeaec;
  }
  
  .toggle-input:checked + .toggle .toggle-icon.off {
    fill: var(--active-color);
  }
>>>>>>> 3f771d7c27947ebe175c7956cfb10e782037c6d1
